<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"><?define EQLogParser_TargetDir=$(var.EQLogParser.TargetDir)?>
	<Product Id="*" Name="EQLogParser" Language="1033" Version="1.3.13" Manufacturer="Kizant" UpgradeCode="5c2c180d-d4f0-46f1-b771-bda6609e2688">
		<Package Platform="x86" InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="EQLogParser" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="ProductDataComponents" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="Logs" />
		</Feature>

    <UI Id="WixUI_Advanced">
      <UIRef Id="WixUI_InstallDir" />
      <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

      <!-- Skip license dialog -->
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg" Order="2">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">1</Publish>
    </UI>    
	</Product>
 
	<Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="EQLogParser">
          <Directory Id="DATAFOLDER" Name="data" />
        </Directory>
      </Directory>
      <Directory Id="AppDataFolder">
        <Directory Id="MyAppData" Name="EQLogParser">
          <Directory Id="LogsFolder" Name="logs">
            <Component Id="Logs" Guid="D3E18092-1C19-4923-ACB0-2ED354653167">
              <RegistryValue Root="HKCU" Key="Software\Kizant\EQLogParser" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
              <RemoveFile Id="RemoveLogs" Name="*.*" On="uninstall" />
              <RemoveFolder Id="RemoveLogsFolder" Directory="LogsFolder" On="uninstall"/>
              <RemoveFolder Id="RemoveMyAppData" Directory="MyAppData" On="uninstall"/>
            </Component>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="EQLogParser" />
      </Directory>
    </Directory>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="7D5D3FA6-1F71-411B-A1F0-EF477E38B3ED">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="EQLogParser" Description="Everquest Log Parser" Target="[INSTALLFOLDER]\EQLogParser.exe" WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\Kizant\EQLogParser" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
	</Fragment>

	<Fragment>
	  <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
	    <Component Id="EQLogParser.exe" Guid="77922c99-ebcd-4ef7-ae22-f2c31a9bb63f">
	      <File Id="EQLogParser.exe" Name="EQLogParser.exe" Source="$(var.EQLogParser_TargetDir)EQLogParser.exe" />
	    </Component>
	    <Component Id="EQLogParser.exe.config" Guid="40f27a01-f148-4628-89a9-9c4745ef9672">
	      <File Id="EQLogParser.exe.config" Name="EQLogParser.exe.config" Source="$(var.EQLogParser_TargetDir)EQLogParser.exe.config" />
	    </Component>
	    <Component Id="ActiproSoftware.Docking.Wpf.dll" Guid="64f563f3-5c7e-45c8-a245-d04dd0ee8d0b">
	      <File Id="ActiproSoftware.Docking.Wpf.dll" Name="ActiproSoftware.Docking.Wpf.dll" Source="$(var.EQLogParser_TargetDir)ActiproSoftware.Docking.Wpf.dll" />
	    </Component>
	    <Component Id="ActiproSoftware.DataGrid.Contrib.Wpf.dll" Guid="c5f0c023-dcaf-43bb-9794-aab9856437cb">
	      <File Id="ActiproSoftware.DataGrid.Contrib.Wpf.dll" Name="ActiproSoftware.DataGrid.Contrib.Wpf.dll" Source="$(var.EQLogParser_TargetDir)ActiproSoftware.DataGrid.Contrib.Wpf.dll" />
	    </Component>
	    <Component Id="ActiproSoftware.Shared.Wpf.dll" Guid="3c8d2f9f-a96b-4dd8-b709-68e47832b14e">
	      <File Id="ActiproSoftware.Shared.Wpf.dll" Name="ActiproSoftware.Shared.Wpf.dll" Source="$(var.EQLogParser_TargetDir)ActiproSoftware.Shared.Wpf.dll" />
	    </Component>
      <Component Id="log4net.dll" Guid="912D9D56-4980-4F05-BB88-02C8AA5A356F">
        <File Id="log4net.dll" Name="log4net.dll" Source="$(var.EQLogParser_TargetDir)log4net.dll" />
      </Component>
      <Component Id="FontAwesome.WPF.dll" Guid="ED08AC03-21A2-4664-A99A-0E41F73FDC40">
        <File Id="FontAwesome.WPF.dll" Name="FontAwesome.WPF.dll" Source="$(var.EQLogParser_TargetDir)FontAwesome.WPF.dll" />
      </Component>
      <Component Id="LiveCharts.dll" Guid="301B6781-24FD-4534-801B-B3CBE2A01927">
        <File Id="LiveCharts.dll" Name="LiveCharts.dll" Source="$(var.EQLogParser_TargetDir)LiveCharts.dll" />
      </Component>
      <Component Id="LiveCharts.Wpf.dll" Guid="DC2B7F21-1FF6-44F8-A496-2DACBBCA7AB4">
        <File Id="LiveCharts.Wpf.dll" Name="LiveCharts.Wpf.dll" Source="$(var.EQLogParser_TargetDir)LiveCharts.Wpf.dll" />
      </Component>
      <Component Id="Caching.dll" Guid="74348E32-A112-488B-A33D-7F7E07CFF5C8">
        <File Id="Caching.dll" Name="Caching.dll" Source="$(var.EQLogParser_TargetDir)Caching.dll" />
      </Component>
      <Component Id="CsvHelper.dll" Guid="3D41FF8F-2D1B-4954-9925-FEE340AAC6A0">
        <File Id="CsvHelper.dll" Name="CsvHelper.dll" Source="$(var.EQLogParser_TargetDir)CsvHelper.dll" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="ProductDataComponents" Directory="DATAFOLDER">
      <Component Id="petnames.txt" Guid="92C4F601-A319-424A-A014-B50EC47ADBA6">
        <File Id="petnames.txt" Name="petnames.txt" Source="$(var.EQLogParser_TargetDir)\data\petnames.txt" />
      </Component>
      <Component Id="spells.txt" Guid="2FC00676-7C5D-4075-9BC7-2C49C977732B">
        <File Id="spells.txt" Name="spells.txt" Source="$(var.EQLogParser_TargetDir)\data\spells.txt" />
      </Component>      
    </ComponentGroup>
  </Fragment>
</Wix>
