<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="EQLogParser" Language="1033" Version="1.9.7" Manufacturer="Kizant" UpgradeCode="5c2c180d-d4f0-46f1-b771-bda6609e2688">
		<Package Platform="x64" InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade AllowDowngrades="yes" />
    <MediaTemplate EmbedCab="yes" />

    <WixVariable Id="WixUIBannerBmp" Value="banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="background.bmp" />

    <Icon Id="icon.ico" SourceFile="$(var.EQLogParser.ProjectDir)\EQLogParser.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
    <Property Id="DOTNET6INSTALLED">0</Property>

		<Feature Id="ProductFeature" Title="EQLogParser" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="ProductDataComponents" />
      <ComponentGroupRef Id="ProductHtmlDataComponents" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="ApplicationShortcutDesktop" />
      <ComponentRef Id="Logs" />
		</Feature>
  
    <UI Id="WixUI_Advanced">
      <UIRef Id="WixUI_InstallDir" />
      <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

      <!-- Skip license dialog -->
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg" Order="2">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">1</Publish>
    </UI>
  </Product>

	<Fragment>
    <Binary Id="CABinary" SourceFile="$(var.WixCustom.TargetDir)WixCustom.CA.dll" />
    <CustomAction Id="CAID1" BinaryKey="CABinary" DllEntry="CheckDotNetVersion" Execute="firstSequence" />

    <InstallUISequence>
      <Custom Action="CAID1" Before="LaunchConditions" />
    </InstallUISequence>

    <Condition Message="You must first install .NET 6.0 Runtime">
      Installed OR DOTNET6INSTALLED="1"
    </Condition>
    
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="DesktopFolder" Name="Desktop" />
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="EQLogParser">
          <Directory Id="DATAFOLDER" Name="data">
            <Directory Id="HTMLDATAFOLDER" Name="html" />
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="AppDataFolder">
        <Directory Id="MyAppData" Name="EQLogParser">
          <Directory Id="LogsFolder" Name="logs">
            <Component Win64="yes" Id="Logs" Guid="D3E18092-1C19-4923-ACB0-2ED354653167">
              <RegistryValue Root="HKCU" Key="Software\Kizant\EQLogParser" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
              <RemoveFile Id="RemoveLogs" Name="*.*" On="uninstall" />
              <RemoveFolder Id="RemoveLogsFolder" Directory="LogsFolder" On="uninstall"/>
              <RemoveFolder Id="RemoveMyAppData" Directory="MyAppData" On="uninstall"/>
            </Component>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="EQLogParser" />
      </Directory>
    </Directory>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Win64="yes" Id="ApplicationShortcut" Guid="7D5D3FA6-1F71-411B-A1F0-EF477E38B3ED">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="EQ Log Parser" Description="Everquest Log Parser" Target="[INSTALLFOLDER]\EQLogParser.exe" WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\Kizant\EQLogParser" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="DesktopFolder">
      <Component Win64="yes" Id="ApplicationShortcutDesktop" Guid="969EAC06-8AFD-48A9-814C-ADBE6F7C073E">
        <Shortcut Id="ApplicationDesktopShortcut" Name="EQ Log Parser" Icon="icon.ico" Description="Everquest Log Parser" Target="[INSTALLFOLDER]\EQLogParser.exe" WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="CleanUpDesktopShortCut" Directory="DesktopFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\Kizant\EQLogParser" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
	</Fragment>
	<Fragment>
	  <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
	    <Component Win64="yes" Id="EQLogParser.exe" Guid="77922c99-ebcd-4ef7-ae22-f2c31a9bb63f">
	      <File Id="EQLogParser.exe" Name="EQLogParser.exe" Source="$(var.EQLogParser.TargetDir)EQLogParser.exe" />
	    </Component>
      <Component Win64="yes" Id="EQLogParser.dll" Guid="A694871D-64ED-472D-9843-E01086C6F72A">
        <File Id="EQLogParser.dll" Name="EQLogParser.dll" Source="$(var.EQLogParser.TargetDir)EQLogParser.dll" />
      </Component>      
	    <Component Win64="yes" Id="EQLogParser.dll.config" Guid="275FC19D-266E-4ADE-A836-AD99E1C40DF7">
	      <File Id="EQLogParser.dll.config" Name="EQLogParser.dll.config" Source="$(var.EQLogParser.TargetDir)EQLogParser.dll.config" />
	    </Component>
      <Component Win64="yes" Id="EQLogParser.runtimeconfig.json" Guid="1E4DF525-40F2-43E2-9481-AA5D8E84E07A">
        <File Id="EQLogParser.runtimeconfig.json" Name="EQLogParser.runtimeconfig.json" Source="$(var.EQLogParser.TargetDir)EQLogParser.runtimeconfig.json" />
      </Component>      
	    <Component Win64="yes" Id="ActiproSoftware.Docking.Wpf.dll" Guid="64f563f3-5c7e-45c8-a245-d04dd0ee8d0b">
	      <File Id="ActiproSoftware.Docking.Wpf.dll" Name="ActiproSoftware.Docking.Wpf.dll" Source="$(var.EQLogParser.TargetDir)ActiproSoftware.Docking.Wpf.dll" />
	    </Component>
	    <Component Win64="yes" Id="ActiproSoftware.DataGrid.Contrib.Wpf.dll" Guid="c5f0c023-dcaf-43bb-9794-aab9856437cb">
	      <File Id="ActiproSoftware.DataGrid.Contrib.Wpf.dll" Name="ActiproSoftware.DataGrid.Contrib.Wpf.dll" Source="$(var.EQLogParser.TargetDir)ActiproSoftware.DataGrid.Contrib.Wpf.dll" />
	    </Component>
	    <Component Win64="yes" Id="ActiproSoftware.Shared.Wpf.dll" Guid="3c8d2f9f-a96b-4dd8-b709-68e47832b14e">
	      <File Id="ActiproSoftware.Shared.Wpf.dll" Name="ActiproSoftware.Shared.Wpf.dll" Source="$(var.EQLogParser.TargetDir)ActiproSoftware.Shared.Wpf.dll" />
	    </Component>
      <Component Win64="yes" Id="log4net.dll" Guid="912D9D56-4980-4F05-BB88-02C8AA5A356F">
        <File Id="log4net.dll" Name="log4net.dll" Source="$(var.EQLogParser.TargetDir)log4net.dll" />
      </Component>
      <Component Win64="yes" Id="FontAwesome5.dll" Guid="8416E883-7350-4D80-B3D1-2965E4C01DB8">
        <File Id="FontAwesome5.dll" Name="FontAwesome5.dll" Source="$(var.EQLogParser.TargetDir)FontAwesome5.dll" />
      </Component>
	  <Component Win64="yes" Id="FontAwesome5.Net.dll" Guid="57EB460B-BA13-4DA0-9036-DC113FE8635B">
	    <File Id="FontAwesome5.Net.dll" Name="FontAwesome5.Net.dll" Source="$(var.EQLogParser.TargetDir)FontAwesome5.Net.dll" />
	  </Component>		  
      <Component Win64="yes" Id="LiveCharts.dll" Guid="301B6781-24FD-4534-801B-B3CBE2A01927">
        <File Id="LiveCharts.dll" Name="LiveCharts.dll" Source="$(var.EQLogParser.TargetDir)LiveCharts.dll" />
      </Component>
      <Component Win64="yes" Id="LiveCharts.Wpf.dll" Guid="DC2B7F21-1FF6-44F8-A496-2DACBBCA7AB4">
        <File Id="LiveCharts.Wpf.dll" Name="LiveCharts.Wpf.dll" Source="$(var.EQLogParser.TargetDir)LiveCharts.Wpf.dll" />
      </Component>
      <Component Win64="yes" Id="WPFTextBoxAutoComplete.dll" Guid="2AE4D9AC-7BB6-4239-88B0-37E94A1B6944">
        <File Id="WPFTextBoxAutoComplete.dll" Name="WPFTextBoxAutoComplete.dll" Source="$(var.EQLogParser.TargetDir)WPFTextBoxAutoComplete.dll" />
      </Component>
      <Component Win64="yes" Id="Newtonsoft.Json.dll" Guid="6D0CCBFE-C08A-492C-8583-800E5E35D846">
        <File Id="Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" Source="$(var.EQLogParser.TargetDir)Newtonsoft.Json.dll" />
      </Component>
      <Component Win64="yes" Id="Hardcodet.Wpf.TaskbarNotification.dll" Guid="D79C74F8-96A9-4C61-8125-7AA5AA5670DC">
        <File Id="Hardcodet.Wpf.TaskbarNotification.dll" Name="Hardcodet.Wpf.TaskbarNotification.dll" Source="$(var.EQLogParser.TargetDir)Hardcodet.Wpf.TaskbarNotification.dll" />
      </Component>
      <Component Win64="yes" Id="DotLiquid.dll" Guid="C7818EAF-8DF1-4411-8821-FC66BFB42AB2">
        <File Id="DotLiquid.dll" Name="DotLiquid.dll" Source="$(var.EQLogParser.TargetDir)DotLiquid.dll" />
      </Component>
      <Component Win64="yes" Id="Syncfusion.Edit.WPF.dll" Guid="016CD15D-58FD-4DBE-8030-C2335976A080">
        <File Id="Syncfusion.Edit.WPF.dll" Name="Syncfusion.Edit.WPF.dll" Source="$(var.EQLogParser.TargetDir)Syncfusion.Edit.WPF.dll" />
      </Component>
      <Component Win64="yes" Id="Syncfusion.GridCommon.WPF.dll" Guid="FD6E7B0D-868C-4D6E-A211-057D973D622D">
        <File Id="Syncfusion.GridCommon.WPF.dll" Name="Syncfusion.GridCommon.WPF.dll" Source="$(var.EQLogParser.TargetDir)Syncfusion.GridCommon.WPF.dll" />
      </Component>
      <Component Win64="yes" Id="Syncfusion.Shared.WPF.dll" Guid="197A0E8A-FAEC-41C1-BA86-F62C3B8E7947">
        <File Id="Syncfusion.Shared.WPF.dll" Name="Syncfusion.Shared.WPF.dll" Source="$(var.EQLogParser.TargetDir)Syncfusion.Shared.WPF.dll" />
      </Component>   
      <Component Win64="yes" Id="Syncfusion.SfSkinManager.WPF.dll" Guid="33F08F96-DA5F-471D-88F0-C4E7A5A50621">
        <File Id="Syncfusion.SfSkinManager.WPF.dll" Name="Syncfusion.SfSkinManager.WPF.dll" Source="$(var.EQLogParser.TargetDir)Syncfusion.SfSkinManager.WPF.dll" />
      </Component>
      <Component Win64="yes" Id="Syncfusion.Themes.FluentDark.WPF.dll" Guid="29DA2539-32C2-467B-B287-8220449773FD">
        <File Id="Syncfusion.Themes.FluentDark.WPF.dll" Name="Syncfusion.Themes.FluentDark.WPF.dll" Source="$(var.EQLogParser.TargetDir)Syncfusion.Themes.FluentDark.WPF.dll" />
      </Component>
      <Component Win64="yes" Id="Syncfusion.Tools.WPF.dll" Guid="016ED49A-B740-4F65-82D9-81EC02957E10">
        <File Id="Syncfusion.Tools.WPF.dll" Name="Syncfusion.Tools.WPF.dll" Source="$(var.EQLogParser.TargetDir)Syncfusion.Tools.WPF.dll" />
      </Component>      
    </ComponentGroup>
    <ComponentGroup Id="ProductDataComponents" Directory="DATAFOLDER">
      <Component Win64="yes" Id="petnames.txt" Guid="92C4F601-A319-424A-A014-B50EC47ADBA6">
        <File Id="petnames.txt" Name="petnames.txt" Source="$(var.EQLogParser.TargetDir)\data\petnames.txt" />
      </Component>
      <Component Win64="yes" Id="spells.txt" Guid="2FC00676-7C5D-4075-9BC7-2C49C977732B">
        <File Id="spells.txt" Name="spells.txt" Source="$(var.EQLogParser.TargetDir)\data\spells.txt" />
      </Component>
      <Component Win64="yes" Id="oldspells.txt" Guid="3F1F6373-8E8D-4C14-89EB-CD3AF3D6320A">
        <File Id="oldspells.txt" Name="oldspells.txt" Source="$(var.EQLogParser.TargetDir)\data\oldspells.txt" />
      </Component>
      <Component Win64="yes" Id="npcs.txt" Guid="46C8209D-FDBA-4948-AB7C-699AFD8CDE8A">
        <File Id="npcs.txt" Name="npcs.txt" Source="$(var.EQLogParser.TargetDir)\data\npcs.txt" />
      </Component>
      <Component Win64="yes" Id="titles.txt" Guid="AF032020-55D7-4476-8763-9CF2A3171907">
        <File Id="titles.txt" Name="titles.txt" Source="$(var.EQLogParser.TargetDir)\data\titles.txt" />
      </Component>
      <Component Win64="yes" Id="adpsMeter.txt" Guid="F1428697-7A90-4E37-8894-289D81A5D32E">
        <File Id="adpsMeter.txt" Name="adpsMeter.txt" Source="$(var.EQLogParser.TargetDir)\data\adpsMeter.txt" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="ProductHtmlDataComponents" Directory="HTMLDATAFOLDER">
      <Component Win64="yes" Id="content.html" Guid="689B76E0-571D-4F27-B909-B18ABF902346">
        <File Id="content.html" Name="content.html" Source="$(var.EQLogParser.TargetDir)\data\html\content.html" />
      </Component>
      <Component Win64="yes" Id="header.html" Guid="73FA53BC-9C50-4992-AFC6-EF583AAE5EC0">
        <File Id="header.html" Name="header.html" Source="$(var.EQLogParser.TargetDir)\data\html\header.html" />
      </Component>
      <Component Win64="yes" Id="footer.html" Guid="5BEC871D-91DA-436B-8D6E-656FDA973A33">
        <File Id="footer.html" Name="footer.html" Source="$(var.EQLogParser.TargetDir)\data\html\footer.html" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
