<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="EQLogParser" Language="1033" Version="2.0.15" Manufacturer="Kizant" UpgradeCode="5c2c180d-d4f0-46f1-b771-bda6609e2688">
		<Package Platform="x64" InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade AllowDowngrades="yes" />
    <MediaTemplate EmbedCab="yes" />

    <WixVariable Id="WixUIBannerBmp" Value="banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="background.bmp" />

    <Icon Id="icon.ico" SourceFile="$(var.EQLogParser.ProjectDir)\src\ui\main\EQLogParser.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
    <Property Id="DOTNET6INSTALLED">0</Property>

		<Feature Id="ProductFeature" Title="EQLogParser" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="ProductDataComponents" />
      <ComponentGroupRef Id="ProductHtmlDataComponents" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="ApplicationShortcutDesktop" />
      <ComponentRef Id="Logs" />
		</Feature>
  
    <UI Id="WixUI_Advanced">
      <UIRef Id="WixUI_InstallDir" />
      <DialogRef Id="CheckDotNetDlg" />
      <DialogRef Id="WhatsNewDlg" />
      <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

      <!-- Skip license dialog -->
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="CheckDotNetDlg" Order="1">DOTNET6INSTALLED="0"</Publish>
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="WhatsNewDlg" Order="1">DOTNET6INSTALLED="1"</Publish>
      <Publish Dialog="SetupTypeDlg" Control="Back" Event="NewDialog" Value="CheckDotNetDlg">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WhatsNewDlg" Order="3">1</Publish>
    </UI>
  </Product>

  <Fragment>
    <Binary Id="CABinary" SourceFile="$(var.WixCustom.TargetDir)WixCustom.CA.dll" />
    <CustomAction Id="CAID1" BinaryKey="CABinary" DllEntry="CheckDotNetVersion" Execute="firstSequence" />
    <InstallUISequence>
      <Custom Action="CAID1" Before="LaunchConditions" />
    </InstallUISequence>
    <UI>
      <Dialog Id="CheckDotNetDlg" Width="370" Height="270" Title="[ProductName] Setup" NoMinimize="no">
        <Control Id="Text1" Type="Text" X="40" Y="74" Width="280" Height="40" TabSkip="no" Text="Microsoft .Net 6.0 Desktop Runtime is now required. It may be downloaded from the link below. After it is installed, try EQLogParser again." />
        <Control Id="Link1" Type="Hyperlink" X="40" Y="116" Width="290" Height="40" Transparent="yes">
          <Text><![CDATA[<a href="https://dotnet.microsoft.com/en-us/download/dotnet/thank-you/runtime-desktop-6.0.7-windows-x64-installer">https://dotnet.microsoft.com/en-us/download/dotnet/thank-you/runtime-desktop-6.0.7-windows-x64-installer</a>]]></Text>
        </Control>     
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="&amp;Back">
          <Publish Event="NewDialog" Value="WelcomeDlg">1</Publish>
          <Publish Event="DoAction" Value="CAID1">1</Publish>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="WixUI_Bmp_Banner" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes">
          <Text>Please Install .Net 6.0 and Try Again</Text>
        </Control>
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes">
          <Text>{\WixUI_Font_Title}Missing Required Software</Text>
        </Control>
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
      </Dialog>
      <Dialog Id="WhatsNewDlg" Width="370" Height="270" Title="[ProductName] Setup" NoMinimize="no">
        <Control Id="WhatsNewText" Type="ScrollableText" X="5" Y="50" Width="358" Height="180" Sunken="yes" TabSkip="no">
          <Text SourceFile="whatsnew.rtf" />
        </Control>
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Text="!(loc.WixUINext)">
          <Publish Event="NewDialog" Value="InstallDirDlg">1</Publish>
        </Control>
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="&amp;Back">
          <Publish Event="NewDialog" Value="WelcomeDlg">1</Publish>
         </Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="WixUI_Bmp_Banner" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes">
          <Text>{\WixUI_Font_Title}Release Notes</Text>
        </Control>
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="What's New in the latest version of EQLogParser." />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
      </Dialog>      
    </UI>
  </Fragment>
	<Fragment>   
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="DesktopFolder" Name="Desktop" />
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="EQLogParser">
          <Directory Id="DATAFOLDER" Name="data">
            <Directory Id="HTMLDATAFOLDER" Name="html" />
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="AppDataFolder">
        <Directory Id="MyAppData" Name="EQLogParser">
          <Directory Id="LogsFolder" Name="logs">
            <Component Win64="yes" Id="Logs" Guid="D3E18092-1C19-4923-ACB0-2ED354653167">
              <RegistryValue Root="HKCU" Key="Software\Kizant\EQLogParser" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
              <RemoveFile Id="RemoveLogs" Name="*.*" On="uninstall" />
              <RemoveFolder Id="RemoveLogsFolder" Directory="LogsFolder" On="uninstall"/>
              <RemoveFolder Id="RemoveMyAppData" Directory="MyAppData" On="uninstall"/>
            </Component>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="EQLogParser" />
      </Directory>
    </Directory>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Win64="yes" Id="ApplicationShortcut" Guid="7D5D3FA6-1F71-411B-A1F0-EF477E38B3ED">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="EQ Log Parser" Description="Everquest Log Parser" Target="[INSTALLFOLDER]\EQLogParser.exe" WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\Kizant\EQLogParser" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="DesktopFolder">
      <Component Win64="yes" Id="ApplicationShortcutDesktop" Guid="969EAC06-8AFD-48A9-814C-ADBE6F7C073E">
        <Shortcut Id="ApplicationDesktopShortcut" Name="EQ Log Parser" Icon="icon.ico" Description="Everquest Log Parser" Target="[INSTALLFOLDER]\EQLogParser.exe" WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="CleanUpDesktopShortCut" Directory="DesktopFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\Kizant\EQLogParser" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
	</Fragment>
	<Fragment>
	  <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
	    <Component Win64="yes" Id="EQLogParser.exe" Guid="77922c99-ebcd-4ef7-ae22-f2c31a9bb63f">
	      <File Id="EQLogParser.exe" Name="EQLogParser.exe" Source="$(var.EQLogParser.TargetDir)EQLogParser.exe" />
	    </Component>
      <Component Win64="yes" Id="EQLogParser.dll" Guid="A694871D-64ED-472D-9843-E01086C6F72A">
        <File Id="EQLogParser.dll" Name="EQLogParser.dll" Source="$(var.EQLogParser.TargetDir)EQLogParser.dll" />
      </Component>      
	    <Component Win64="yes" Id="EQLogParser.dll.config" Guid="275FC19D-266E-4ADE-A836-AD99E1C40DF7">
	      <File Id="EQLogParser.dll.config" Name="EQLogParser.dll.config" Source="$(var.EQLogParser.TargetDir)EQLogParser.dll.config" />
	    </Component>
      <Component Win64="yes" Id="EQLogParser.runtimeconfig.json" Guid="1E4DF525-40F2-43E2-9481-AA5D8E84E07A">
        <File Id="EQLogParser.runtimeconfig.json" Name="EQLogParser.runtimeconfig.json" Source="$(var.EQLogParser.TargetDir)EQLogParser.runtimeconfig.json" />
      </Component>      
      <Component Win64="yes" Id="log4net.dll" Guid="912D9D56-4980-4F05-BB88-02C8AA5A356F">
        <File Id="log4net.dll" Name="log4net.dll" Source="$(var.EQLogParser.TargetDir)log4net.dll" />
      </Component>
      <Component Win64="yes" Id="FontAwesome5.dll" Guid="8416E883-7350-4D80-B3D1-2965E4C01DB8">
        <File Id="FontAwesome5.dll" Name="FontAwesome5.dll" Source="$(var.EQLogParser.TargetDir)FontAwesome5.dll" />
      </Component>
	    <Component Win64="yes" Id="FontAwesome5.Net.dll" Guid="57EB460B-BA13-4DA0-9036-DC113FE8635B">
	      <File Id="FontAwesome5.Net.dll" Name="FontAwesome5.Net.dll" Source="$(var.EQLogParser.TargetDir)FontAwesome5.Net.dll" />
	    </Component>		  
      <Component Win64="yes" Id="Newtonsoft.Json.dll" Guid="6D0CCBFE-C08A-492C-8583-800E5E35D846">
        <File Id="Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" Source="$(var.EQLogParser.TargetDir)Newtonsoft.Json.dll" />
      </Component>
      <Component Win64="yes" Id="DotLiquid.dll" Guid="C7818EAF-8DF1-4411-8821-FC66BFB42AB2">
        <File Id="DotLiquid.dll" Name="DotLiquid.dll" Source="$(var.EQLogParser.TargetDir)DotLiquid.dll" />
      </Component>
      <Component Win64="yes" Id="Syncfusion.Data.WPF.dll" Guid="29B0F002-C736-4787-A07A-4AD3C895CBF7">
        <File Id="Syncfusion.Data.WPF.dll" Name="Syncfusion.Data.WPF.dll" Source="$(var.EQLogParser.TargetDir)Syncfusion.Data.WPF.dll" />
      </Component>
      <Component Win64="yes" Id="Syncfusion.Edit.WPF.dll" Guid="5089E626-B2D8-4B55-97D2-2AF59AC148E6">
        <File Id="Syncfusion.Edit.WPF.dll" Name="Syncfusion.Edit.WPF.dll" Source="$(var.EQLogParser.TargetDir)Syncfusion.Edit.WPF.dll" />
      </Component>
      <Component Win64="yes" Id="Syncfusion.GridCommon.WPF.dll" Guid="CBDF14C6-F0D5-420D-88FF-0DD509AB3A36">
        <File Id="Syncfusion.GridCommon.WPF.dll" Name="Syncfusion.GridCommon.WPF.dll" Source="$(var.EQLogParser.TargetDir)Syncfusion.GridCommon.WPF.dll" />
      </Component>
      <Component Win64="yes" Id="Syncfusion.Licensing.dll" Guid="508A0992-C1FC-4DE4-8551-98B69669BE43">
        <File Id="Syncfusion.Licensing.dll" Name="Syncfusion.Licensing.dll" Source="$(var.EQLogParser.TargetDir)Syncfusion.Licensing.dll" />
      </Component>
      <Component Win64="yes" Id="Syncfusion.SfChart.WPF.dll" Guid="EB9F99E6-52B6-4CB0-BB4A-C18AEA3182B3">
        <File Id="Syncfusion.SfChart.WPF.dll" Name="Syncfusion.SfChart.WPF.dll" Source="$(var.EQLogParser.TargetDir)Syncfusion.SfChart.WPF.dll" />
      </Component>
      <Component Win64="yes" Id="Syncfusion.SfGrid.WPF.dll" Guid="BFA467E9-11A2-408B-9316-8DB5A4AA1F0A">
        <File Id="Syncfusion.SfGrid.WPF.dll" Name="Syncfusion.SfGrid.WPF.dll" Source="$(var.EQLogParser.TargetDir)Syncfusion.SfGrid.WPF.dll" />
      </Component>
      <Component Win64="yes" Id="Syncfusion.SfInput.WPF.dll" Guid="478A6221-BB5D-410A-B421-2333CD771152">
        <File Id="Syncfusion.SfInput.WPF.dll" Name="Syncfusion.SfInput.WPF.dll" Source="$(var.EQLogParser.TargetDir)Syncfusion.SfInput.WPF.dll" />
      </Component>      
      <Component Win64="yes" Id="Syncfusion.SfSkinManager.WPF.dll" Guid="33F08F96-DA5F-471D-88F0-C4E7A5A50621">
        <File Id="Syncfusion.SfSkinManager.WPF.dll" Name="Syncfusion.SfSkinManager.WPF.dll" Source="$(var.EQLogParser.TargetDir)Syncfusion.SfSkinManager.WPF.dll" />
      </Component>      
      <Component Win64="yes" Id="Syncfusion.Shared.WPF.dll" Guid="197A0E8A-FAEC-41C1-BA86-F62C3B8E7947">
        <File Id="Syncfusion.Shared.WPF.dll" Name="Syncfusion.Shared.WPF.dll" Source="$(var.EQLogParser.TargetDir)Syncfusion.Shared.WPF.dll" />
      </Component>   
      <Component Win64="yes" Id="Syncfusion.Themes.MaterialDark.WPF.dll" Guid="3993C944-FB4A-475B-B66A-AA6D15D6DCDD">
        <File Id="Syncfusion.Themes.MaterialDark.WPF.dll" Name="Syncfusion.Themes.MaterialDark.WPF.dll" Source="$(var.EQLogParser.TargetDir)Syncfusion.Themes.MaterialDark.WPF.dll" />
      </Component>
      <Component Win64="yes" Id="Syncfusion.Themes.MaterialDarkCustom.WPF.dll" Guid="E3042628-C320-47CF-8069-6A85E7EA87FA">
        <File Id="Syncfusion.Themes.MaterialDarkCustom.WPF.dll" Name="Syncfusion.Themes.MaterialDarkCustom.WPF.dll" Source="$(var.EQLogParser.TargetDir)Syncfusion.Themes.MaterialDarkCustom.WPF.dll" />
      </Component>
      <Component Win64="yes" Id="Syncfusion.Themes.MaterialLight.WPF.dll" Guid="108AA0E6-409D-4C49-9FEF-84DF04858DB5">
        <File Id="Syncfusion.Themes.MaterialLight.WPF.dll" Name="Syncfusion.Themes.MaterialLight.WPF.dll" Source="$(var.EQLogParser.TargetDir)Syncfusion.Themes.MaterialLight.WPF.dll" />
      </Component>
      <Component Win64="yes" Id="Syncfusion.Themes.MaterialLightCustom.WPF.dll" Guid="41F69D17-F418-473D-BF74-0EF6AE87912F">
        <File Id="Syncfusion.Themes.MaterialLightCustom.WPF.dll" Name="Syncfusion.Themes.MaterialLightCustom.WPF.dll" Source="$(var.EQLogParser.TargetDir)Syncfusion.Themes.MaterialLightCustom.WPF.dll" />
      </Component>
      <Component Win64="yes" Id="Syncfusion.Tools.WPF.Classic.dll" Guid="BDFC58AB-E906-42A5-B081-402299D84EE1">
        <File Id="Syncfusion.Tools.WPF.Classic.dll" Name="Syncfusion.Tools.WPF.Classic.dll" Source="$(var.EQLogParser.TargetDir)Syncfusion.Tools.WPF.Classic.dll" />
      </Component>
      <Component Win64="yes" Id="Syncfusion.Tools.WPF.dll" Guid="016ED49A-B740-4F65-82D9-81EC02957E10">
        <File Id="Syncfusion.Tools.WPF.dll" Name="Syncfusion.Tools.WPF.dll" Source="$(var.EQLogParser.TargetDir)Syncfusion.Tools.WPF.dll" />
      </Component>    
    </ComponentGroup>
    <ComponentGroup Id="ProductDataComponents" Directory="DATAFOLDER">
      <Component Win64="yes" Id="petnames.txt" Guid="92C4F601-A319-424A-A014-B50EC47ADBA6">
        <File Id="petnames.txt" Name="petnames.txt" Source="$(var.EQLogParser.TargetDir)\data\petnames.txt" />
      </Component>
      <Component Win64="yes" Id="procs.txt" Guid="9E9E4890-EEF7-4C7F-BE9B-E189D7FD6EE5">
        <File Id="procs.txt" Name="procs.txt" Source="$(var.EQLogParser.TargetDir)\data\procs.txt" />
      </Component>      
      <Component Win64="yes" Id="spells.txt" Guid="2FC00676-7C5D-4075-9BC7-2C49C977732B">
        <File Id="spells.txt" Name="spells.txt" Source="$(var.EQLogParser.TargetDir)\data\spells.txt" />
      </Component>
      <Component Win64="yes" Id="oldspells.txt" Guid="3F1F6373-8E8D-4C14-89EB-CD3AF3D6320A">
        <File Id="oldspells.txt" Name="oldspells.txt" Source="$(var.EQLogParser.TargetDir)\data\oldspells.txt" />
      </Component>
      <Component Win64="yes" Id="npcs.txt" Guid="46C8209D-FDBA-4948-AB7C-699AFD8CDE8A">
        <File Id="npcs.txt" Name="npcs.txt" Source="$(var.EQLogParser.TargetDir)\data\npcs.txt" />
      </Component>
      <Component Win64="yes" Id="titles.txt" Guid="AF032020-55D7-4476-8763-9CF2A3171907">
        <File Id="titles.txt" Name="titles.txt" Source="$(var.EQLogParser.TargetDir)\data\titles.txt" />
      </Component>
      <Component Win64="yes" Id="adpsMeter.txt" Guid="F1428697-7A90-4E37-8894-289D81A5D32E">
        <File Id="adpsMeter.txt" Name="adpsMeter.txt" Source="$(var.EQLogParser.TargetDir)\data\adpsMeter.txt" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="ProductHtmlDataComponents" Directory="HTMLDATAFOLDER">
      <Component Win64="yes" Id="content.html" Guid="689B76E0-571D-4F27-B909-B18ABF902346">
        <File Id="content.html" Name="content.html" Source="$(var.EQLogParser.TargetDir)\data\html\content.html" />
      </Component>
      <Component Win64="yes" Id="header.html" Guid="73FA53BC-9C50-4992-AFC6-EF583AAE5EC0">
        <File Id="header.html" Name="header.html" Source="$(var.EQLogParser.TargetDir)\data\html\header.html" />
      </Component>
      <Component Win64="yes" Id="footer.html" Guid="5BEC871D-91DA-436B-8D6E-656FDA973A33">
        <File Id="footer.html" Name="footer.html" Source="$(var.EQLogParser.TargetDir)\data\html\footer.html" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
